## SemEval 2019 Task 4 - Parse XML and load article text into dataframe

Jonathan Miller and Negar Adyaniyazdi, VCU, CMSC516, Fall 2018

In [1]:
import xml.etree.cElementTree as et
import pandas as pd

In [2]:
DATA_PATH = '../data/'
DATA_RAW_PATH = DATA_PATH + 'raw/'

text_train_path = DATA_RAW_PATH + 'articles-training-20180831.xml'
text_val_path = DATA_RAW_PATH + 'articles-validation-20180831.xml'

Parse XML file for validation article data and create dataframe with ID and raw article text

In [3]:
tree = et.parse(text_val_path)
root = tree.getroot()
articles = root.findall('.//article')

In [4]:
article_text_list = []

for article in articles:
    text_string = article.get('title') + ' '
    for t in article.itertext():
        text_string += t
    article_text_list.append(text_string)

In [5]:
xml_data = [[article.get('id')] for article in articles]
col_names = ['id']
article_text_val = pd.DataFrame(xml_data, columns=col_names)
article_text_val['article_text'] = article_text_list
article_text_val['id'] = article_text_val['id'].astype(str)

In [6]:
article_text_val.head()

        id                                       article_text
0  0000017  SAN FRANCISCO / Head of Juvenile Probation Dep...
1  0000019  Nancy Pelosi Lies On CNN About Gun Control, An...
2  0000023  University leaders ban pro-life flag display, ...
3  0000024  What Wine Prices Tell Us About OPEC Why Are Oi...
4  0000026  The Long Road to Harvard As reported in the Ne...

In [7]:
article_text_val.shape

(200000, 2)

Parse XML file for training article data and create dataframe with ID and raw article text

In [8]:
tree = et.parse(text_train_path)
root = tree.getroot()
articles = root.findall('.//article')

article_text_list = []

for article in articles:
    text_string = article.get('title') + ' '
    for t in article.itertext():
        text_string += t
    article_text_list.append(text_string)
    
xml_data = [[article.get('id')] for article in articles]
col_names = ['id']
article_text_train = pd.DataFrame(xml_data, columns=col_names)
article_text_train['article_text'] = article_text_list
article_text_train['id'] = article_text_train['id'].astype(str)

In [9]:
article_text_train.head()

        id                                       article_text
0  0000001  After DeVos Announced Plans To Reexamine Title...
1  0000002  University To Award Trayvon Martin With Posthu...
2  0000008  Texas State University suspends Greek life aft...
3  0000009  Red Sox waste Rodriguez outing in 1-0 loss to ...
4  0000010  Eve and the New Jerusalem Imaginings of a utop...

In [10]:
article_text_train.shape

(800000, 2)

In [11]:
DATA_INTERIM_PATH = DATA_PATH + 'interim/'

article_text_train.to_csv(DATA_INTERIM_PATH + 'text_train.csv', index=False)
article_text_val.to_csv(DATA_INTERIM_PATH + 'text_val.csv', index=False)